* {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

body {
    background: #040f3c;
}

.layout1-header {
    height: 80px;
    font-size: xx-large;
    color: #00ffff;
    text-align: center;
    background: url(../img/bg.png) top center no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout1-header div {
    height: 80px;
}

.layout1-header-center {
    padding-top: 13px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.layout1 .layout1-column {
    float: left;
}

.layout1 .layout1-column:not(:first-child) {
    margin-left: 15px;
}

.layout1-container {
    position: relative;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #54dcf2;
}

.layout1-container span.border-span {
    position: absolute;
    width: 35px;
    height: 35px;
}

.layout1-container span.top-left {
    top: -4px;
    left: -4px;
    border-top: 3px solid #54dcf2;
    border-left: 3px solid #54dcf2;
}

.layout1-container span.top-right {
    top: -4px;
    right: -4px;
    border-top: 3px solid #54dcf2;
    border-right: 3px solid #54dcf2;
}

.layout1-container span.bottom-left {
    bottom: -4px;
    left: -4px;
    border-bottom: 3px solid #54dcf2;
    border-left: 3px solid #54dcf2;
}

.layout1-container span.bottom-right {
    bottom: -4px;
    right: -4px;
    border-bottom: 3px solid #54dcf2;
    border-right: 3px solid #54dcf2;
}

.layout1-container .name-title {
    font-size: 12px;
    color: #00ffff;
}

.teacher-pie {
    border-bottom: 1px solid #2c768a;
    margin: -5px;
}

.teacher-pie li {
    float: left;
    border-right: 1px solid #2c768a;
}

.teacher-pie li:last-child {
    border-right: none;
}

.teacher-pie li .name-title {
    padding-left: 10px;
    padding-top: 10px;
}
